 
<div class="row justify-content-center" style="margin-bottom: 10px;margin-top:10px">
  <img src="../../assets/images/TrueCare24_logo.png">
</div>
<div class="row" style="margin-bottom: 10px">
  <div class="col-lg-4"></div>
  <div class="tcStep1">
    Step 1
  </div>
  <div class="tcStep2">
    Step 2
  </div>
  <div class="tcStep3">
    Step 3
  </div>
  <div class="tcStep4">
    Step 4
  </div>
</div>

<div class="row">
  <div class="col-lg-4"></div>
  <div class="tcForm was-validated">
    <h1 class="tcFormHeader">Please complete the form to join the TrueCare24 network</h1>
      <form #thisForm="ngForm" name="myForm">
        <fieldset>
          <!-- Who are you -->
          <div class="form-group" [ngClass]="{'has-danger': role.invalid}">
            <label for="inputRole" class="tcLabel">Who are you?</label>
            <select [(ngModel)]="data.role" name="inputRole" class="form-control tcInput" style="height:60px" #role="ngModel" required>
                <option *ngFor="let r of roles" [ngValue]="r"><div class="tcLabel" style="margin:5px">{{r}}</div></option>
            </select>
          </div>

          <div class="row">
             <!-- First name -->
            <div class="col form-group" [ngClass]="{'has-danger': firstname.invalid}">
              <label for="inputFirstname" class="tcLabel">First name</label>
              <input placeholder="Type here" type="text" class="form-control tcInput form-control-danger"
              [(ngModel)]="data.firstname" name="inputFirstname" required #firstname="ngModel">
            </div>

             <!-- Last name -->
            <div class="col form-group" [ngClass]="{'has-danger': lastname.invalid}">
                <label for="inputLastname" class="tcLabel">Last name</label>
                <input placeholder="Type here" type="text" class="form-control tcInput"  [(ngModel)]="data.lastname" name="inputLastname" 
                required #lastname="ngModel" >
            </div>
          </div>

          <!-- ZIP Code -->
          <div class="form-group" [ngClass]="{'has-danger': zipcode.invalid}">
            <label for="inputZipcode" class="tcLabel">ZIP code where you live</label>
            <input placeholder="Type here" type="text" class="form-control tcInput"   [(ngModel)]="data.zipcode" name="inputZipcode" 
            required #zipcode="ngModel">
          </div>

          <!-- Email -->
          <div class="form-group" [ngClass]="{'has-danger': email.invalid}">
            <label for="inputEmail" class="tcLabel">Email</label>
            <input placeholder="Type here" type="text" class="form-control tcInput"   [(ngModel)]="data.email" name="inputEmail"             
            [pattern]="emailPattern" required #email="ngModel" >
          </div>

          <!-- Cell phone -->
          <div class="form-group" [ngClass]="{'has-danger': cellphone.invalid}">
            <label for="inputCellphone" class="tcLabel">Cell phone</label>
            <input placeholder="Type here" type="text" class="form-control tcInput"    [(ngModel)]="data.cellphone" name="inputCellphone" 
            required [pattern]="phonePattern" #cellphone="ngModel" [ngClass]="{'is-invalid': cellphone.invalid}">
          </div>

          <!-- confirmation -->
          <div class="form-group">
            <div class="row">
              <div class="col-lg-1">
                  <input type="checkbox" class="form-control" id="confirmation" style="height:30px" name="confirmation" required>
              </div>
              <div class="col-lg-11">
                <label for="confirmation" class="tcLabel" >I confirm that I am duly licensed (as applicable) and have the qualifications, the experience and the ability to properly perform the Services</label>
              </div>
            </div>
          </div>

          <!-- buttons -->
          <div class="form-group">
            <div class="col-lg-12"> 
              <button type="submit" (click)="submit()" class="btn tcButton col-lg-12" [disabled]="!thisForm.form.valid">Submit</button>
            </div>
          </div>
        </fieldset>
      </form> 
  </div>
</div>
