<div class="modal-body"> 
    
  <div class="row justify-content-center">
      <img src="../../assets/images/Thankyou_ico.png" style="text-align: center">
      
        <h1 class="tcFormHeader" style="text-align: center">Congratulations, your phone is verified</h1>  
  </div>
  
  
  <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
          <button type="submit" (click)="close()" class="btn tcButton col-lg-12">Continue</button>
      </div>
    </div>
  
  </div>